.navbar_content{
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #dbdbdd;
}

.navbar_logo{
    margin-top:10px;
}

.navbar_search{
    height: 28px;
    width: 215px;
    margin-top: 10px;
    border: 1px solid #DBDBDB;
    text-align: center;
    background-color: #fafafa;
    border-radius: 5px;
}

.navbar_img{
    margin: 15px 10px;
}